.red{
    color:red;
  
  }
  
  .bold{
    font-weight: bold;
  }
  
.Cookpit button
{
  background-color: green;
  color: white;
  border: 1px solid #eee;
  padding: 8px;
}
.Cookpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cookpit button.Red{
  background-color: red;
}
.Cookpit button.Red:hover {
  background-color: salmon;
}
